<!DOCTYPE html>
<html>
  <head>
    <title>DermaGraph — Your Smart Skin Companion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/logo.ico" />
  </head>

  <body>
    <header class="header">
      <div class="logo-section">
        <img class="logo" alt="logo" src="static/logo.png" />
        <h2 class="logo-text">DermaGraph</h2>
      </div>
    </header>
    <div id="main-container">
      <div id="first-page">
        <h1 class="first-heading">👋 Welcome to DermaGraph!</h1>
        <p class="first-body">
          <span class="bold"
            >Please disable your adblockers for this website to work
            properly!</span
          >
        </p>
        <p class="first-body">
          Do you have a mole or lesion on your skin that you're worried could be
          dangerous? Limited access to a dermatologist? Or maybe you're a doctor
          looking for a second opinion for your patient? Look no further than
          DermaGraph, the premier AI software for skin cancer detection.
        </p>
        <p class="first-body">
          <span class="bold">2 in 3 Australians </span>develop some form of
          malignant skin cancer over their lifetime, and worldwide this figure
          is 1 in 50. While the mortality rate for skin cancer is relatively
          low, its side effects significantly hinder the patient's quality of
          life. By providing accessible, on-demand diagnosis for skin lesions,
          DermaGraph will make sure that you or your patient will not be a part
          of these statistics.
        </p>
        <p class="first-body">
          How do we do this? DermaGraph utilises an industry-standard
          convolutional neural network (CNN) that uses a picture of the
          patient's lesion, along with their demographics, to determine the
          likelihood of it being malignant with
          <span class="bold">91% accuracy.</span> In comparison, dermatologists
          only have an 86.6% accuracy with the naked eye. As such, DermaGraph
          has several inherent benefits:
        </p>
        <ul class="list">
          <li class="point-1">
            <ion-icon name="time" class="mission-icon"></ion-icon>
            <span class="mission-item">
              Studies show that when detected early, the 5-year survival rate
              for melanoma is 99%.
            </span>
          </li>
          <li class="point-2">
            <ion-icon name="happy" class="mission-icon"></ion-icon>
            <span class="mission-item">
              DermaGraph operates solely through photographs, meaning you will
              not have to undergo an invasive biopsy.
            </span>
          </li>
          <li class="point-3">
            <ion-icon name="wallet" class="mission-icon"></ion-icon>
            <span class="mission-item">
              Minimise dermatologist visits by getting preliminary advice from
              our A.I. algorithm.
            </span>
          </li>
        </ul>
        <div class="button">
          <button id="next" class="btn btn--full">Get Started!</button>
        </div>
      </div>
      <div id="third-page" hidden>
        <h1 id="greeting" class="first-heading"></h1>
        <form id="cta" class="cta-form" name="sign-up">
          <div>
            <label for="gender">Biological Sex</label>
            <select id="gender" name="gender" required>
              <option value="">Please choose one option:</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>

          <div>
            <label for="age">Age</label>
            <input id="age" type="age" name="age" required />
          </div>

          <div>
            <label for="select-where"
              >Which area of the body is the lesion on?</label
            >
            <select id="select_where" name="select_where" required>
              <option value="">Please choose one option:</option>
              <option value="torso">Torso</option>
              <option value="lower extremity">
                Lower Extremities (Hip to Toes)
              </option>
              <option value="upper extremity">Arms</option>
              <option value="head/neck">Head/Neck</option>
              <option value="palms/soles">Palms/Soles</option>
            </select>
          </div>

          <button id="form-btn" class="btn btn--form">Continue</button>
        </form>
      </div>
      <div id="second-page" hidden>
        <h1 class="first-heading">Are you a doctor or a patient?</h1>
        <p class="first-body">
          Please answer truthfully! Your answers to these questions will affect
          your diagnosis.
        </p>
        <div id="doctor" class="option">
          <span>🩺 </span><span>Doctor</span>
        </div>
        <div id="patient" class="option">
          <span>🏥</span><span>Patient</span>
        </div>
      </div>
      <div id="final-page" class="hidden">
        <div id="first">
          <h1>📸 Upload your photo here!</h1>
          <span class="bold first-body"
            >Please disable your adblockers for this website to work
            properly!</span
          >
          <p class="first-body">
            But first, please keep some things in mind. Bring your phone as
            close as possible to your lesion without it losing focus. Then, zoom
            in as much as possible so the majority of your image is comprised of
            the lesion. Try to minimise the numbers of hairs or markings shown
            in the image, but it's fine if you can't do so. Please focus the
            camera on only ONE lesion per photograph. <br /><br />

            DermaGraph is 91% accurate, meaning there is a 9% margin for error.
            If our prediction does not seem to align with your real-life
            situation, please visit a dermatologist — biopsies and physical
            examinations are highly accurate, and your dermatologist can inform
            you on what to do next.
          </p>
          <form id="upload">
            <input type="file" id="file" accept="image/*" />
            <div class="buttons">
              <button class="btn btn--full">Upload</button>
              <!-- <button class="btn btn--full">Next</button> -->
            </div>
          </form>
        </div>
        <div id="second">
          <h1>Image Preview</h1>
          <div id="app"></div>
          <div id="change">
            <div id="loading" class="hidden">
              <img class="loading" src="/static/loading.gif" />
              <p id="text">Analysis in progress, please wait...</p>
            </div>
            <div id="result">
              <h1 id="prediction" hidden></h1>
              <h2 id="diagnosis" hidden></h2>
              <p id="recs" class="first-body" hidden></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    <script src="static/script.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/countUp.js"></script>
  </body>
</html>
